<section class="container mt-5 p-4" id="banner">

  <!-- banner ukuran lg ke atas -->
  <div class="d-none d-lg-block">
    <div
      class="bg-banner card border-light card-img background shadow mt-4"
    >
      <div class="row">
        <!-- tagline utama -->
      <div class="col-lg-5 col-xl-6 offset-lg-1 m-5">
        <div class="d-flex h-100">
          <div class="align-self-center">
            <h3>
              <strong>Ketahui apa yang ada
                dalam <span class="text-success">produk</span> kecantikanmu</strong>
            </h3>
  
              <div class="input-group news-input mt-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Masukkan Nama Produk"
                />
                <button class="btn btn-success" type="button"><i class="bi bi-search"></i></button>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex justify-content-end">
          <img src="../../../../../assets/images/produk/produk.png" alt="" class="img-fluid">
        </div>
      </div>
      </div>
    </div>
  </div>

  <!-- banner ukuran md ke bawah -->
  <div class="d-block d-lg-none">

    <!-- gambar -->
    <div class="d-flex justify-content-center bg-banner background shadow mt-4">
      <img
        src="../../../../../assets/images/produk/produk.png"
        alt=""
        class="img-fluid"
      />
    </div>

    <!-- tagline utama -->
    <div class="mt-5">
      <div class="d-flex justify-content-center">
        <div class="align-self-center">
          <div class="row">
            <div class="offset-md-1 col-md-10">
              <h3>
                <strong>Ketahui apa yang ada
                  dalam <span class="text-success">produk</span> kecantikanmu</strong>
              </h3>
    
                <div class="input-group news-input mt-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Masukkan Nama Produk"
                  />
                  <button class="btn btn-success" type="button"><i class="bi bi-search"></i></button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
