<header class="navbar navbar-expand-lg bg-green navbar-dark p-3 fixed-top">
    <div class="container">
      <!-- nama brand -->
      <a class="navbar-brand" href="#">Skinsight</a>
  
      <!-- toggle button -->
      <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
        type="button"
      >
        <!-- burger icon -->
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- expand nav -->
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link">Beranda</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ingredients" class="nav-link">Kandungan</a>
          </li>
          <li class="nav-item">
            <a routerLink="/products" class="nav-link">Produk</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  