<footer class="bg-green text-light p-4">
    <!-- <p>Copyright &copy; Skinsight</p> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Skinsight</h3>
                <p>Be mindful, be you</p>

                <!-- socmed icons -->
                <div class="mt-5">
                    <span>
                        <i class="bi bi-facebook p-2"></i>
                        <i class="bi bi-twitter p-2"></i>
                        <i class="bi bi-instagram p-2"></i>
                        <i class="bi bi-linkedin p-2"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <!-- menu -->
                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <h4>Menu</h4>
                        <a routerLink="/home">Beranda</a> <br>
                        <a routerLink="/ingredients">Kandungan</a> <br>
                        <a routerLink="/products">Produk</a>
                    </div>
                    <!-- Kontak -->
                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <h4>Kontak</h4>
                        <span href="#">+62 800 111 999</span> <br>
                        <span href="#">info@skinsight.com</span> <br>
                        <span href="#">Sleman, Yogyakarta</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>